
/*Global set*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0; padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1.6; font-family: "Lato", 'sans-serif'}
h1{font-size: 25px; color: #fff}
h2{font-size: 21px; color: #fff}
h3{font-size: 18px; color: #fff}
h4{font-size: 16px; color: #fff}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{
    content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent; text-decoration:none, cursor: pointer}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*********************************/
p {@font-face {
    font-family: "Cherolina";
    src: url("/fonts/Cherolina.ttf") format("ttf"),
      src: url("/fonts/Cherolina.otf") format("otf");
    font-family: "Caviar Dreams";
    src: url("/fonts/CaviarDreams.ttf") format("ttf");
    font-family: "Arizonia-Regular";
    src: url("/fonts/Arizonia-Regular.ttf") format("ttf");
    font-family: "Caveat-Regular";
    src: url("/fonts/Caveat-Regular.ttf") format("ttf");
    
   }
    font-family: lato, 'sans-serif';
    }

p, h3, h4, h5, h6 { color: #666}
h2, h1 {
    font-weight:100 ;
}
h1 {
    font-family: "Lato", "sans-serif";
    font-size: 60px;
    text-align: center;;
    padding-top: 3%;
}
h2 {font-size: 40px;}
ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
a {text-decoration: none;
    color: #fff;
    cursor: pointer;
}
body,html {
	background-color: #FFF;
}

/******* tools ********/
.box-shad {
    box-shadow: 3px 2px 10px 3px rgba(119, 119, 119, 0.7);
    -moz-box-shadow: 3px 2px 10px 3px rgba(119, 119, 119, 0.7);
    -webkit-box-shadow: 3px 2px 10px 3px rgba(119, 119, 119, 0.7);
}

.lettrine {
    font-size: 4em;
    line-height: 0.9em;
    float: left;
    padding: 0 10px 10px 0;
    
  }

  .flash {
    text-align: center;
    background-color: #6d878c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #fff;
}

.flash h2 {
    color: #fff;
}

.n { color: #000!important;
}
/************ end tools **************/

/*header*/
header {
    background: url("img/boss-lady.jpg");
    padding: 0;
    min-width: 100vh;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    min-height: 70vh;
    margin: 0;
    padding:0%;
    background-color: rgba(0, 0, 0, 0.6);
}
.name {
    display: flex;
    flex-flow: column;
    justify-items: center;
}
.name h1 {
    color: #fff;
}
.name a {
    color: #fff; 
margin: auto;
    text-decoration: none;
}
.slogan {
    color: #c2ab92; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.coord {
    padding-bottom: 5%;

}
.mail a, .mail h3, .url h3 {
    color: #fff;
    font-family: "Lato", "sans serif"!important;
    font-weight: 200!important;
    text-align: center;
    line-height: 1;
}

.url {
    padding-bottom: 20%;
    line-height: 1;
}

/***************/
.logo_pictelle {
    display: block;
    width: 60px;
    margin: auto;
    padding: 3% 0 3% 0;
}

body > section {
    max-width: 100%;
    margin: auto;
    padding: 30px 20px;
}

/*** nav ***/
nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: rgba(94, 109, 129 0.6);
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
nav a {
    text-align: center;
    color: #000!important;
    text-decoration: none;
    font-size: 17px;
    pointer-events: cursor;
}

nav a:hover {
    background-color: #6d878c;
    color: white!important;
    width: 200px;
}
      
nav a.active {
    background-color: #6d878c;
    color: white;
}
nav ul li a:hover {
	background: #FFF;
}

nav a.active {
    background-color: #c1d6d8;
    color: white;
}
/******** end nav ********/

.main {
    padding: 3%;
}

/*********** info ***********/
  .info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 3%;
  }

  .info h2, h3 {color: #000;}

  .logo_laplateforme {
    width: 300px;
    
  }

  /********** competences ************/
.row {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
                rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
  
  .column {
    flex: 33,3333%;
  }
 
 ul.column {
    background: #f0ece0;
    padding: 4% 4% 6% 4%;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

  }

/*** portfolio ***/
.portfolio {
    text-align: center;
}

h2.portfolio {
    color: #000!important;
    padding-bottom: 5%;
}

.mockups {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items:center;
    margin: auto;
}

.mockups ul li {
    padding-left:
}

.mockups img {
    width: 200px;
    height: 150px;
}

.mockups li {
    flex: 20%;
    padding-right: 1%;
} 

/******** autres *********/




/*experiences*/
.prof { 
    display: flex;
}
.exp {
    display: block;
    -moz-column-count:3;
    -webkit-column-count:3;
    -o-column-count:3;
    column-count:3;
    -moz-column-gap:20px;
    -webkit-column-gap:20px;
    -o-column-gap:20px;
    column-gap:20px;
    padding: 10% 10% 5% 10%;
    margin: 5%;
    background: #e4edea;
}

.exp h2 {
    color: #000;
}

article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
}
article h2 {
    font-weight: normal;
    color: lightslategray;
    margin-bottom: 12px;
}
article p {
    color: lightslategray;
}
/*** autres ***/
.autres {
    background-color: #c2ab92;
    display: flex;
    flex-direction: row;
}

.set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10%;
}

.cards {
    flex: 50%;
    max-width:50%;
    margin: 0 auto;
}

.cards h2 {
    color: #000;
}

/********* footer **********/
footer {
	background: #AEC6CF;
	min-height:40vh;
	margin: auto;
	clear: both;
	text-align: right;
}

.bottom_coord {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.bottom_contact, .bottom_logo, .bottom_visit {
    flex: 33,3333%;
    justify-content: space-evenly;
    margin:auto;

}

.bottom_logo img {
    display: block;
    width: 100%;
    clear:both;
    padding: 15%;

}

.bottom_contact h2 {
    font-weight:400;
}
.bottom_visit a {
    font-size: 20px;
    font-weight: 600; 
}

.bottom_visit img {
margin: auto;
}